.App {
  height: 100vh;
  background: url(/src/resources/img/sumeru_bg.jpg) no-repeat;
}

.App img {
  height: 100vh;
}

.buttons {
  height: 10vh
}
.dude {
  padding: 0 30vw;
  height: 60vh;
}
.dude .body img {
  height: 90vh;
}

.textarea {
  position: relative;
  z-index: 100;
  top: 0;
  margin: 0 30vh;
  height: 25vh;
  background: rgba(0, 0, 0, .5);
}

.textarea .title {
  padding-top: 10px;
  text-align: center;
  color: aliceblue;
  font-size: 30px;
  font-weight: bold;
}

.textarea span {
  display: block;
  margin: 5px auto;
  height: 2px;
  width: 450px;
  background:white;
}

.textarea .text {
  margin: 0 40px;
  padding-top: 10px;
  text-align: center;
  color: aliceblue;
  font-size: 20px;
}

